
.header-ttl {
  text-align: center;
}

.month-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.table-container {
  display: flex;
  justify-content: center;
}

table {
  min-width: 300px;
  width: 80%;
  background-color: pink;
}

.result-container {
  text-align: center;
}

td {
  padding: 4px; /* 全セルの上下余白を統一 */
}

input {
  width: 100%;
  box-sizing: border-box;
  padding: 4px 8px;
  font-size: 1rem;
}

input[type="button"] {
  cursor: pointer;
}

